* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes fadeIn {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #f2f0e4; }

.canvas {
  position: relative;
  background-color: #2c2c2c;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 50px;
  overflow: hidden; }
  @media (min-width: 900px) {
    .canvas {
      background-image: url("../../assets/comprar_bg.jpg");
      background-position: center center; } }

.rojo {
  color: #ff0000; }

.main-title {
  font-weight: 200;
  line-height: 1;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px; }
  @media (min-width: 450px) {
    .main-title {
      font-size: 50px; } }
  @media (min-width: 960px) {
    .main-title {
      font-size: 60px; } }
  @media (min-width: 900px) {
    .main-title {
      text-align: left;
      position: absolute;
      top: 10%;
      left: 5%;
      right: 5%; } }
  @media (min-width: 1080px) {
    .main-title {
      top: 10%;
      left: 10%;
      right: 10%; } }
  @media (min-width: 1200px) {
    .main-title {
      font-size: 70px; } }

@media (min-width: 900px) {
  .list {
    position: absolute;
    top: 20%;
    bottom: 5%;
    left: 5%;
    right: 5%; } }
@media (min-width: 1080px) {
  .list {
    bottom: 10%;
    left: 10%;
    right: 10%; } }

.item {
  list-style-type: none;
  width: 100%;
  justify-content: center;
  padding: 70px 0;
  background-image: url("../../assets/comprar_bg.jpg");
  background-position: center center;
  background-size: auto 75%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  animation: 1s ease-out 0s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0.2;
  position: relative; }
  @media (min-width: 900px) {
    .item {
      background-image: none;
      position: absolute;
      height: 25%;
      width: 50%;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0; } }

.flecha {
  height: 1px;
  background: #525252;
  width: 200%;
  position: absolute;
  top: 100%;
  left: -50%; }
  @media (min-width: 900px) {
    .flecha {
      background: none;
      position: static;
      width: 10px;
      margin: 0 auto;
      transform: none;
      height: 10px;
      background-color: #ff0000;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto; } }
  @media (min-width: 900px) and (min-width: 960px) {
    .flecha {
      width: 25px; } }
  @media (min-width: 900px) and (min-width: 1200px) {
    .flecha {
      width: 40px; } }
  @media (min-width: 900px) {
      .flecha:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 0;
        width: 0;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent transparent #ff0000;
        transform: translate(100%, -50%); } }

.item-1 {
  animation-delay: 0.125s; }
  @media (min-width: 900px) {
    .item-1 {
      bottom: 75%; } }

.item-2 {
  animation-delay: 0.25s; }
  @media (min-width: 900px) {
    .item-2 {
      bottom: 75%;
      left: 50%;
      justify-content: flex-start; }
      .item-2 .flecha {
        display: none; } }

.item-3 {
  animation-delay: 0.375s; }
  @media (min-width: 900px) {
    .item-3 {
      justify-content: flex-end;
      bottom: 50%; } }

.item-4 {
  animation-delay: 0.5s; }
  @media (min-width: 900px) {
    .item-4 {
      justify-content: flex-end;
      bottom: 50%;
      left: 50%; } }

.item-5 {
  animation-delay: 0.625s; }
  @media (min-width: 900px) {
    .item-5 {
      bottom: 25%;
      padding-left: 10%;
      width: 45%; }
      .item-5 .flecha {
        margin: 0 0 0 auto; } }

.item-6 {
  animation-delay: 0.75s; }
  @media (min-width: 900px) {
    .item-6 {
      bottom: 25%;
      left: 50%;
      padding-right: 10%; }
      .item-6 .flecha {
        display: none; } }

.item-7 {
  animation-delay: 0.875s; }
  @media (min-width: 900px) {
    .item-7 {
      padding-left: 12%;
      bottom: 0%; } }

.item-8 {
  margin-bottom: 0;
  padding-bottom: 0;
  animation-delay: 1s; }
  @media (min-width: 900px) {
    .item-8 {
      bottom: 0%;
      left: 50%; } }

.number {
  font-size: 32px;
  line-height: 1;
  vertical-align: middle; }
  @media (min-width: 320px) {
    .number {
      font-size: 36px; } }
  @media (min-width: 960px) {
    .number {
      font-size: 44px; } }
  @media (min-width: 1200px) {
    .number {
      font-size: 50px; } }

.icon {
  vertical-align: middle;
  height: 75px;
  width: auto;
  margin: 0 15px;
  display: inline-block; }
  .icon svg {
    height: 100%;
    width: auto;
    display: block;
    fill: #f2f0e4; }

.text {
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle; }
  @media (min-width: 320px) {
    .text {
      font-size: 18px; } }
  @media (min-width: 960px) {
    .text {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .text {
      font-size: 22px; } }

/*# sourceMappingURL=style.css.map */
