@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

$bg-color: #2c2c2c;
$gris: lighten(#2c2c2c, 15%);
$blanco: #f2f0e4;
$rojo: #ff5656;

$animation: 1s;

$small: 320px;
$small-medium: 450px;
$medium: 960px;
$large: 1200px;


$one-line:800px;
$spaceless: 1080px;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600;
    text-transform:uppercase;
    color:$blanco;
}

.canvas {
    position:relative;
    background-color:$bg-color;
    background-position: center bottom;
    @include breakpoint($one-line) {
        background-image: url('../../assets/comprar_bg.jpg');
        background-position: center center;
    }
    background-size: contain;
    background-repeat: no-repeat;
    min-height:100vh;
    padding: 50px;
    overflow:hidden;
}

.rojo {
    color: $rojo;
}

.main-title {
    font-weight:200;
    line-height:1;
    font-size:40px;
    text-align:center; 
    margin-bottom:50px;
    @include breakpoint($small-medium) {
        font-size:50px;
    }
    @include breakpoint($medium) {
        font-size:60px;
    }
    @include breakpoint($one-line) {
        text-align:left;
        position:absolute;
        top:10%;
        left:5%;
        right:5%;
    }
    @include breakpoint($spaceless) {
        top:10%;
        left:10%;
        right:10%;
    }
    @include breakpoint($large) {
        font-size:70px;
    }
}

.list {
    @include breakpoint($one-line) {
        position:absolute;
        top:25%;
        bottom:5%;
        left:5%;
        right:5%;
    }
    @include breakpoint($spaceless) {
        bottom: 10%;
        left:10%;
        right:10%;
    }
}

.item {
    list-style-type:none;
    width:100%;
    justify-content: center;
    padding:70px 0;
    background-image: url('../../assets/comprar_bg.jpg');
    background-position: center center;
    background-size: auto 75%;
    background-repeat: no-repeat;
    @include breakpoint($one-line) {
        background-image:none;
        position:absolute;
        height:33.33%;
        width:50%;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
    }
    display:flex;
    align-items:center;
    animation: $animation ease-out 0s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0.2;
    position:relative;
}

.flecha {
    height:1px;
    background: $gris;
    width:200%;
    position:absolute;
    top:100%;
    left:-50%;
    @include breakpoint($one-line) {
        background:none;
        position:static;
        width: 7%;
        @include breakpoint($medium) {
            width:12%;
        }
        @include breakpoint($large) {
            width: 15%;
        }
        @include breakpoint(1200px) {
            width: 20%;
        }
        margin: 0 auto;
        transform:none;
        height:10px;
        background-color:$rojo;
        position:relative;
        top: auto;
        left:auto;
        right: auto;
        bottom: auto;
        &:before {
            content:"";
            position:absolute;
            right:0;
            top:50%;
            height:0;
            width:0;
            border-width:15px;
            border-style:solid;
            border-color: transparent transparent transparent $rojo;
            transform: translate(100%,-50%);
        }
    }
}

.item-1 {
    @include breakpoint($one-line) {
        bottom:66.66%;
    }
    animation-delay:$animation * 1 / 6;
}

.item-2 {
    @include breakpoint($one-line) {
        bottom:66.66%;
        left: 50%;
        .flecha {
            display:none;
        }
    }
    animation-delay:$animation * 2 / 6; 
}

.item-3 {
    @include breakpoint($one-line) {
        justify-content:flex-end;
        bottom:33.33%;
    }
    animation-delay:$animation * 3 / 6; 
}

.item-4 {
    @include breakpoint($one-line) {
        justify-content:flex-end;
        bottom:33.33%;
        left: 50%;
    }
    animation-delay:$animation * 4 / 6; 
}

.item-5 {
    @include breakpoint($one-line) {
        bottom:0%;
        margin-left:5%;
        .flecha {
            margin:0 0 0 auto;
        }
    }
    animation-delay:$animation * 5 / 6; 
}

.item-6 {
    @include breakpoint($one-line) {
        margin-left:5%;
        bottom:0%;
        left: 50%;
    }
    margin-bottom:0;
    padding-bottom:0;
    animation-delay:$animation * 6 / 6; 
}

.number {
    font-size:32px;
    line-height:1;
    vertical-align:middle;
    @include breakpoint($small) {
        font-size:36px;
    }
    @include breakpoint($medium) {
        font-size:44px;
    }
    @include breakpoint($large) {
        font-size:50px;
    }
}

.icon {
    vertical-align:middle;
    height:75px;
    width:auto;
    margin: 0 15px;
    display:inline-block;
    svg {
        height:100%;
        width:auto;
        display:block;
        fill: $blanco;
    }
}

.text {
    font-size:16px;
    line-height:1;
    display:inline-block;
    vertical-align:middle;
    @include breakpoint($small) {
        font-size:18px;
    }
    @include breakpoint($medium) {
        font-size:22px;
    }
    @include breakpoint($large) {
        font-size:25px;
    }
}